@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

body, html, #root, .app {
  height: 100%;
  margin: 0;
  color: #fff;
  background-color: #222;
  font-family: 'Roboto', sans-serif;
}

.app-header {
  font-size: 24px;
  color: #fff;
  text-align: center;
  width: 100%;
  padding: 20px 0;
  background-color: #333;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.3);
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.location-input-container input[type='text'] {
  padding: 10px 15px;
  border: none;
  border-radius: 20px;
  width: 80%;
  max-width: 400px;
  background-color: #333;
  color: #ddd;
  font-size: 16px;
}

.current-weather, .forecast-container {
  margin-top: 20px;
  padding: 20px;
  border-radius: 10px;
  background-color: #333;
  width: 90%;
  max-width: 800px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.forecast-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  overflow-x: auto;
}

.forecast-card {
  background-color: #444;
  padding: 15px;
  border-radius: 10px;
  margin: 10px;
  min-width: 150px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  transition: transform 0.2s;
}

.forecast-card:hover {
  transform: translateY(-5px);
}
